body{
    background-color: #616161;
    display: flex;
    align-content: center;
    justify-content: center;
}

.lavagna{

}

.container{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    position: relative;
    margin-block: 6rem;
    font-family: 'Indie Flower', cursive;
    row-gap: 3rem;
}

.postit{
width: 200px;
height: 100px;
padding: 2rem 1rem;
box-shadow: 6px 6px 3px rgba(11, 11, 11, 0.25);
position: relative;
transition: width, height, box-shadow 0.5s;
}

.postit:hover{
   width: 235px ;
   height: 135px;
   box-shadow: 12px 12px 12px rgba(10, 10, 10, 0.658);
}

.giallo{
   background-color: #f8f8c6; 
   background: linear-gradient(to bottom , #f8f8c6 70%, #adad8d);
   
}

.verde{
    background-color:#c8f8ca ;
    background: linear-gradient(to bottom,#c8f8ca 70%,#89a589);
}
.viola{
    background-color: #c4c5ee;
    background: linear-gradient(to bottom,#c4c5ee 70%, #727385);
}

.task{
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    inset: 3rem;
}

.passaggi{
    position: absolute;
    inset: 6rem 2rem 1rem 2.8rem;
    font-size: 25px;
}

.uno{
    transform-origin: bottom left;
    transform: rotateZ(355deg);
    margin-right: 1rem;
}

.due{
    transform-origin: bottom right;
    transform: rotateZ(5deg);
}

.tre{
    transform-origin: bottom left;
    transform: rotateZ(353deg);
    margin-left: 3.5rem;
    
}
.quattro{
    transform-origin: bottom right;
    transform: rotateZ(10deg);
    margin-right: 0.2rem;
}

.cinque{
    transform-origin: bottom left;
    transform: rotateZ(355deg);
    margin-right: 4rem;
}

.sei{
    transform-origin: bottom left;
    transform: rotateZ(350deg);
    margin-right: 2rem;
}

.sette{
    transform-origin: bottom left;
    transform: rotateZ(355deg);
    margin-right: 2rem;
}

.otto{
    transform-origin: bottom right;
    transform: rotateZ(3deg);
}

.uno:hover{
    transform: rotateZ(0deg);

}
.due:hover{
    transform: rotateZ(0deg);
}
.tre:hover{
    transform: rotateZ(0deg);
}
.quattro:hover{
    transform: rotateZ(0deg);
}
.cinque:hover{
    transform: rotateZ(0deg);
}
.sei:hover{
    transform: rotateZ(0deg);
}
.sette:hover{
    transform: rotateZ(0deg);
}
.otto:hover{
    transform: rotateZ(0deg);
}